<ngx-spinner size="medium" type="ball-spin-clockwise-fade" fullScreen="true">
  <p class="loading"> Loading... </p>
</ngx-spinner>

<div *ngIf="modelData">
  <mat-tab-group class="example-stretched-tabs mat-elevation-z4" mat-align-tabs="end">
    <mat-tab label="About">
      <app-about [modelData]="modelData"></app-about>
    </mat-tab>
    <mat-tab label="Train Model">
      <app-train-model [modelData]="modelData"></app-train-model>
    </mat-tab>
    <mat-tab label="Predict">
      <app-predict [modelData]="modelData"></app-predict>
    </mat-tab>
    <mat-tab label="Back">
      <div style="height: 100%;"><a class="subnav" [routerLink]="[ '/models' ]">Back</a></div>
    </mat-tab>
  </mat-tab-group>
  <br><br><br>
</div>
<br><br><br>

<router-outlet></router-outlet>