.example-container {
    display: flex;
    flex-direction: column;
    // height: 100vh;
  }
  
  .full-width {
    width: 100%;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }


  pre{
    // border: solid;
    max-height: 300px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  mat-checkbox ::ng-deep .mat-checkbox-inner-container {
    width: 20px;height: 20px;
  }

  .loading{
    color: white;
    padding-top: 20px;
  }
