table {
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .loading{
    color: white;
    padding-top: 20px;
  }