<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>Defect Detection System</span>
    <mat-icon class="example-icon" aria-hidden="false">verified_user</mat-icon>
    <span class="spacer"></span>


    <!-- user settings for future added -->
    <button mat-icon-button [matMenuTriggerFor]="settings">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    <!-- end of user settings  -->
  </mat-toolbar-row>
</mat-toolbar>


<div  style="display:inline; white-space:nowrap;flex: 1 1 auto;"> 
  <h1>
    <span>Learning based XCT Image Defect Detection</span> 
    <img src="assets/images/artclogo.png" style=" max-width:230px; max-height:95px;  width: auto; height: auto;margin-left: 30px;"/>
    <img src="assets/images/crplogo.png" />
  </h1>
</div>


<mat-drawer-container class="main-container" autosize disableClose>
  <!-- side navigator -->
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a matLine href="/models"><span class="material-icons">dashboard</span> Models</a>
      </mat-list-item>

      <mat-list-item>
        <a matLine href="/manage"><span class="material-icons">control_camera</span> Manage Models</a>
      </mat-list-item>

      <mat-list-item>
        <a matLine href="/addNewModel"><span class="material-icons">add_box</span> Add New Model</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>
  <!-- end of side navigator -->





  <mat-drawer-content > 
    <router-outlet></router-outlet>
  </mat-drawer-content>

 
  

</mat-drawer-container>